* {

    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    text-decoration: none;
    
    }
    
    
    :root{
        --main-padding:10px;
    }
    
    
    body {
        margin: 0;
        background-color:#2b3137;
        font-family:fantasy;
        font-weight: 100;
    }    
    
    
    
    
    img{
        border: 0;
    }
    
    a{
        text-decoration: none;
    }
    
    .container{
        padding: 0 30px;
        margin: 0 auto;
        display: grid;
        height: 100vh;
         /* width: 100%;  */
        /* max-width: 800px;  */
        background-color:#2b3137;
        font-size: 50%;
        color: #f5f5f5db;
        text-align: center;
        grid-template-columns: 1fr 3fr 1fr;
        
        grid-template-rows: 0.7fr
        2fr
        2fr
        2fr
        2fr
        5fr
        2fr
        ;
        grid-template-areas:
        "nav nav nav"
        "side1 content1 bar1"
        "side2 content2 bar2"
        "side3 content3 bar3"
        "side4 content4 bar4"
        "side5 content5 bar5"
        "side6 content6 bar6"
        ;}
    
        nav{
        grid-area: nav;
        margin: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        }
    
        .input[type = "text"] {
      display: block;
      color: rgb(34, 34, 34);
      background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.256) 15.53%, rgba(243, 243, 243, 0.158) 88.19%);
      box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
      border-color: rgba(7, 4, 14, 0);
      border-radius: 50px;
      block-size: 20px;
      /* margin: 7px 150px 7px 200px; */
      margin: 7px auto;
      padding: 18px 15px;
      outline: none;
      text-align: center;
      width: 250px;
      transition: 0.5s;
    }
    
    .input[type = "text"]:hover {
      width: 240px;
    }
    
    .input[type = "text"]:focus {
      width: 280px;
    }
    
    
    
    .button {
     border: 2px solid #ff4500;
     background-color: #ff4500;
     border-radius: 0.9em;
     padding: 0.5em 1em 0.5em 0.9em;
     transition: all ease-in-out 0.2s;
    }
    
    .button span {
     display: flex;
     justify-content: center;
     align-items: center;
     color: #fff;
     font-weight: 600;
    }
    
    .button:hover {
     background-color: #df3d02ba;
    }
    
    .logo:hover{
        /* width: 40px; */
        scale: 1.3;
        transition: 0.7s;
    }
    
    
    
        .side1{
        grid-area: side1;
        padding: 10px;
        /* display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end; */
        }
    
        .side1:hover , .side2:hover, .side3:hover, .side4:hover, .side5:hover, .side6:hover {
            background-color: rgba(243, 243, 243, 0.158);
            transition: 1s;
        }
    
        div .side1 img ,.side2 img ,.side3 img,.side4 img,.side5 img,.side6 img{
            margin-top: 10px;
        }
    
        div .side1 h1 ,.side2 h1 ,.side3 h1,.side4 h1,.side5 h1,.side6 h1{
            padding-left: 10px;
            color: rgba(245, 245, 245, 0.658);
        }
    
        .content1{
        grid-area: content1;
        margin: 10px;
        background-color:rgba(74, 79, 84, 0.623);
        padding: 10px 7px;
        border-radius: 6px;
        box-shadow: inset 0px -40px 32px -23px rgba(245, 245, 245, 0.527);
        }
    
        .posts{
            text-align: left;
            padding: 15px ;
            /* color: rgba(245, 245, 245, 0.696); */
            font-size: 250%;
            overflow: hidden;
            max-height: 66px;
            /* box-shadow: inset 0px -31px 21px -29px  rgba(245, 245, 245, 0.658); */
            /* max-width: 650px; */
            font-family: serif;
            font-weight:600;
        }
    
    
        .bar1{
        grid-area: bar1;
        margin: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        }
    
        .arrow {
      border: solid ;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      cursor: pointer;
    }
    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }
        .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
    
    .arrow:hover{
        scale: 1.5;
        transition: 0.5s;
    }
    
    
        .side2{
        grid-area: side2;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
        }
    
        .content2{
        grid-area: content2;
        margin: 10px;
        background-color:rgba(74, 79, 84, 0.623);
        padding: 10px 7px;
        border-radius: 6px;
        box-shadow: inset 0px -40px 32px -23px rgba(245, 245, 245, 0.527);
        }
    
        .bar2{
        grid-area: bar2;
        margin: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
        }
        
        .side3{
        grid-area: side3;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
    .content3{
        grid-area: content3;
        margin: 10px;
        background-color:rgba(74, 79, 84, 0.623);
        padding: 10px 7px;
        border-radius: 6px;
        box-shadow: inset 0px -40px 32px -23px rgba(245, 245, 245, 0.527);
    }
    
    .bar3{
        grid-area: bar3;
        margin: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .side4{
        grid-area: side4;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
    .content4{
        grid-area: content4;
        margin: 10px;
        background-color:rgba(74, 79, 84, 0.623);
        padding: 10px 7px;
        border-radius: 6px;
        box-shadow: inset 0px -40px 32px -23px rgba(245, 245, 245, 0.527);
    }
    
    .bar4{
        grid-area: bar4;
        margin: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .side5{
        grid-area: side5;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
    .content5{
        grid-area: content5;
        margin: 10px;
        background-color:rgba(74, 79, 84, 0.623);
        padding: 10px 7px;
        border-radius: 6px;
        box-shadow: inset 0px -40px 32px -23px rgba(245, 245, 245, 0.527);
    }
    
    .bar5{
        grid-area: bar5;
        margin: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }
    
    .side6{
        grid-area: side6;
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    
    .content6{
        grid-area: content6;
        margin: 10px;
        background-color:rgba(74, 79, 84, 0.623);
        padding: 10px 7px;
        border-radius: 6px;
        box-shadow: inset 0px -40px 32px -23px rgba(245, 245, 245, 0.527);
    }
    
    .bar6{
        grid-area: bar6;
        margin: 10px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }