body {
    /* padding: 5%; */
    background-color: #2b3137;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
   
  nav{
    background-color: #2b3137;
    grid-area: nav;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 40%;
    color: whitesmoke;
    }

    .input[type = "text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.256) 15.53%, rgba(243, 243, 243, 0.158) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0,0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  /* margin: 7px 150px 7px 200px; */
  margin: 7px auto;
  padding: 18px 15px;
  outline: none;
  text-align: center;
  width: 250px;
  transition: 0.5s;
}

.input[type = "text"]:hover {
  width: 240px;
}

.input[type = "text"]:focus {
  width: 280px;
}



.button {
 border: 2px solid #ff4500;
 background-color: #ff4500;
 border-radius: 0.9em;
 padding: 0.5em 1em 0.5em 0.9em;
 transition: all ease-in-out 0.2s;
}

.button span {
 display: flex;
 justify-content: center;
 align-items: center;
 color: whitesmoke;
 font-weight: 600;
}

.button:hover {
 background-color: #df3d02ba;
}

.logo:hover{
    /* width: 40px; */
    scale: 1.3;
    transition: 0.7s;
}



  .container {
    padding:0;
    background-color: #2b3137; 
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 700px;
  }
  
  /* ===== MENU ===== */
  .menu {
    float: left;
    height: 700px;;
    width: 70px;
    background: #16191c;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    margin: 0;
  }
  
  .menu .items {
    list-style:none;
    margin: auto;
    padding: 0;
  }
  
  .menu .items .item {
    height: 70px;
    border-bottom: 1px solid whitesmoke;
    display:flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 80%;
  }
  
  .menu .items .item-active {
    background-color:rgba(0, 0, 0, 0.547);
    color: whitesmoke;
  }
  
  .menu .items .item:hover {
    cursor: pointer;
    background-color: #ff4400b6;
    color: white;
    transition: 0.5s;
  }
  
  /* === CONVERSATIONS === */
  
  .discussions {
    width: 35%;
    height: 700px;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: #ff4400de;
    display: inline-block;
  }
  
  .discussions .discussion {
    width: 100%;
    height: 90px;
    background-color: #23282d;
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
    cursor: pointer;
  }
  
  .discussions .search {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #E0E0E0;
  }
  
  .discussions .search .searchbar {
    height: 40px;
    background-color: whitesmoke;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    display:flex;
    align-items: center;
    cursor: pointer;
  }
  
  .discussions .search .searchbar input {
    margin-left: 15px;
    height:38px;
    width:100%;
    border:none;
    font-family: 'Montserrat', sans-serif;;
  }
  
  .discussions .search .searchbar *::-webkit-input-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *:-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *::-moz-placeholder {
      color: #E0E0E0;
  }
  .discussions .search .searchbar input *:-ms-input-placeholder {
      color: #E0E0E0;
  }
  
  .discussions .message-active {
    width: 98.5%;
    height: 90px;
    background-color: whitesmoke;
    border-bottom: solid 1px #E0E0E0;
  }
  
  .discussions .discussion .photo {
      margin-left:20px;
      display: block;
      width: 45px;
      height: 45px;
      background: #E6E7ED;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }
  
  .online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
  }
  
  .desc-contact {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .discussions .discussion .name {
    margin: 0 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 11pt;
    color:#515151;
  }
  
  .discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 9pt;
    color:#515151;
  }
  
  .timer {
    margin-left: 15%;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: whitesmoke;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
  }

  
  .response .text {
    background-color: #e3effd !important;
  }
  
  .footer-chat {
    width: calc(65% - 66px);
    height: 80px;
    display:flex;
    align-items: center;
    position:absolute;
    bottom: 0;
    background-color: transparent;
    border-top: 2px solid #EEE;
    
  }
  
  .chat .footer-chat .icon {
    margin-left: 30px;
    color:#C0C0C0;
    font-size: 14pt;
  } */
 


  @import "compass/css3";

$scroll:10px;
::-webkit-scrollbar{width:$scroll;}
::-webkit-scrollbar-thumb{border-radius:$scroll;background-color:rgba(255,255,255,0.2);}
::-webkit-scrollbar-track{border-radius:$scroll;background-color:rgba(255,255,255,0.1);}



body{font-size:100%;background-image:linear-gradient(top left,#333,black);background-attachment:fixed;}
*,*:before,*:after{box-sizing:border-box;}
ul,li{list-style-type:none;}
.wrapper{margin-top:50px;}
.wrapper ul{width:50%;margin:0 auto;height:300px;overflow-x:hidden;overflow-y:scroll;padding-right:30px;}
.wrapper ul li{margin-bottom:20px;padding:10px 20px;background-color:rgba(255,255,255,0.65);position:relative;border-radius:8px;font:1em/1.6 "arial";clear:both;text-shadow:1px 1px 0 rgba(255,255,255,0.35);}
.wrapper ul li:nth-child(odd){float:left;margin-left:80px;}
.wrapper ul li:nth-child(even){float:right;margin-right:80px;color:rgba(255,255,255,0.9);text-shadow:1px 1px 0 rgba(0,0,0,0.75);background-color:#ff44008f;}
.wrapper ul li:before,.wrapper ul li:after{position:absolute;content:"";}
.wrapper ul li:before{width:45px;height:45px;top:0;border-radius:50%;background-position:50% 50%;background-repeat:no-repeat;}
.wrapper ul li:nth-child(odd):before{background-size: contain;left:-80px;background-image:url("https://styles.redditmedia.com/t5_24udld/styles/profileIcon_snoo3dd6bd1c-823e-4189-9b21-bf4849a80116-headshot.png?width=256&height=256&crop=256:256,smart&s=b3584825c81ac33ad8a7b334bc5b663a9bd884e0");}
.wrapper ul li:nth-child(even):before{background-size: contain;right:-80px;background-image:url("https://styles.redditmedia.com/t5_47o67s/styles/profileIcon_snoo-nftv2_bmZ0X2VpcDE1NToxMzdfM2I0NzdhNmIxYmUyMzY2MjhiMDg4MzllMWU4Y2Y4YmE4ZDkzNTg5YV82NjgwOTcw_rare_cdf80073-d789-493b-bd2a-70d67b57f30b-headshot.png?width=256&height=256&crop=256:256,smart&s=27c00d08c21a589422b9646c11602d16d3d1001d");}

.wrapper ul li:after{width:0;height:0;top:15px;border-top:15px solid rgba(255,255,255,0.65);}
.wrapper ul li:nth-child(odd):after{left:-15px;border-left:15px solid transparent;}
.wrapper ul li:nth-child(even):after{right:-15px;border-top-color:#ff440073;border-right:15px solid transparent;}




@media only screen and (min-width:768px){
  .wrapper ul{width: 160%;
    height: 650px;}
}
@media only screen and (max-width:767px){
  .wrapper ul{width:90%;height:600px;}
}