extends layouts/login-layout.pug

block content
    .loginContainer 
        h1 Register 
        form(method="post") 

            input#firstName(type="text", name="firstName", placeholder="First name", required="")
            input#lastName(type="text", name="lastName", placeholder="Last name", required="")
            input#userName(type="text", name="username", placeholder="Username", required="")
            input#email(type="email", name="email", placeholder="Email", required="")
            input#password(type="password", name="password", placeholder=" Password ", required="")
            input#password(type="password", name="passwordConf", placeholder=" Confirm Password ", required="")
            input(type="submit", value="Login")

        a(href="/login") Already have an account? Login here.
    