
body{
    color: #ffffff;
    background-color: #35383D;
    background-image: url(https://wallpaperaccess.com/full/3053366.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    
    color: #ffffff;
    margin: 30px;
}

p{
    color: #ffffff;
    margin: 30px;
}